body {
  margin: 0;
  padding: 0;
  text-align: left;
  font-size: 16px;
  width: 100%;
  /* 背景画像とグラデーションの設定 */
  background-image: 
  linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 1)),
  url('/pic/DSC_0146.jpg'); /* 背景画像のパス */

  /* 背景画像のサイズと配置の設定 */
  background-size: cover;
  background-position: center;

  /* 背景色の設定 */
  background-color: black;
}
header {
  background-color: rgba(255, 255, 255, 0.5); /* 透明度を調整 */
  border-bottom: 1px solid #ccc;
  text-align: center;
}
h1 {
  font-size: 1.5rem;
}
main {
  width: 100%;
  display: block;
  border-bottom: 1px solid #ccc;
  position: relative;
  padding: 1rem;
}
footer {
  background-color: rgba(255, 255, 255, 0.5); /* 透明度を調整 */
  text-align: center;
  padding: 1rem;
}
ul {
  padding: 0;
  margin: 0 3%;
  text-align: center;
}
li {
  list-style-type: none;
  border: 1px solid #666;
  background-color: #fff;
  display: inline-block;
  cursor: pointer;
  color: #0d7dfd;
  padding: 0.5rem 1rem;
  margin: 0.5rem;
}
li:hover {
  background: #0d7dfd;
  color: #fff;
}
textarea {
  margin: 10px 3%;
  width: 94%;
  font-size: 1rem;
  box-shadow: 3px 3px 3px 3px #555;
  padding: 0.5rem;
  resize: vertical; //縦に広げられる
}
input[type="text"], input[type="file"] {
  margin: 10px 3%;
  width: 94%;
  font-size: 1rem;
  box-shadow: 3px 3px 3px 3px #555;
  padding: 0.5rem;
}
table {
  margin: 20px 3%;
  border: 1px solid #8dc3f5;
  width: 94%;
}
th, td {
  font-size: 1rem;
  background-color: rgb(241, 239, 239);
  border-bottom: 1px solid #8dc3f5;
  padding: 0.5rem;
}
